/* Scroll animation */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
}

.fadecon-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 3s ease-out, transform 2s ease-out;
}

.fadecon-up.in-view {
    opacity: 1;
    transform: translateY(0);
}