@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    transition-timing-function: linear;
    font-family: "Kanit", sans-serif !important;
}

/* Header Styling */
#header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header i {
    margin-right: 10px;
    color: red !important;
}
#header span{
    color: rgb(0, 0, 0) !important;
}


/* Navbar Styling */
.navbar {
    position: sticky !important;
    top: 0;
    z-index: 100;
    width: 100%;
    /* position: fixed !important; */
    background-color: #ffffffb5 !important; 
    box-shadow: 0px 1px 5px #4a4f55 !important;
}

.navbar-brand .logo {
    height: clamp(25px, 4vw, 50px);
    width: clamp(30px, 5vw, 65px);
}

.navbar-brand {
    font-size: clamp(20px, 4vw, 34px) !important;
    font-weight: bold !important;
    color: red !important;
}

.navbar-nav .nav-link {
    font-size: 1.2rem !important;
    color: #000000 !important; 
    transition: color 0.3s ease;
    padding: 0px 20px !important;
    font-weight: 500 !important;
    justify-content: space-evenly !important;
    display: inline-block !important;
}

.navbar-nav .nav-link:hover {
    color: red !important;
    background-color: #E0E0E0 !important;
    border-radius: 10px !important;
}

.navbar-nav .nav-link.active {
    color: red !important;
    background-color: #E0E0E0 !important;
    border-radius: 10px !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    color: #343a40 !important;
}

#navbarNav {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Home Styling */
#home {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#home .content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#home .content span{
    font-size: clamp(15px, 1.5vw, 28px) !important;
    font-weight: 400;
    color: red;
    text-transform: uppercase;
}

#home .content h3{
    font-size: clamp(20px, 4vw, 40px) !important;
    font-weight: 700;
    padding-top: 10px;
    animation: home 1.5s ease 0s 1 normal forwards;
}

#home .content h1{
    font-size: clamp(30px, 5vw, 50px) !important;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: home 1.5s ease 0s 1 normal forwards;
}

#home .content button{
    text-transform: uppercase;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .5em 1em;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    animation: home 1.5s ease 0s 1 normal forwards;
}

#home .content button:hover{
    background-color: #E0E0E0;
    color: red;
}

@keyframes home {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}