@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    transition-timing-function: linear;
    font-family: "Kanit", sans-serif !important;
}

/* Header Styling */
#header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header i {
    margin-right: 10px;
    color: red !important;
}
#header span{
    color: rgb(0, 0, 0) !important;
}


/* Navbar Styling */
.navbar {
    position: sticky !important;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffffff !important; 
    box-shadow: 0px 1px 5px #4a4f55 !important;
}

.navbar-brand .logo {
    height: clamp(25px, 4vw, 50px);
    width: clamp(30px, 5vw, 65px);
}

.navbar-brand {
    font-size: clamp(20px, 4vw, 34px) !important;
    font-weight: bold !important;
    color: red !important;
}

.navbar-nav .nav-link {
    font-size: 1.2rem !important;
    color: #000000 !important; 
    transition: color 0.3s ease;
    padding: 0px 20px !important;
    font-weight: 500 !important;
    justify-content: space-evenly !important;
    display: inline-block !important;
}

.navbar-nav .nav-link:hover {
    color: red !important;
    background-color: #E0E0E0 !important;
    border-radius: 10px !important;
}

.navbar-nav .nav-link.active {
    color: red !important;
    background-color: #E0E0E0 !important;
    border-radius: 10px !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    color: #343a40 !important;
}

#navbarNav {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Home Styling */
#home {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#home .content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#home .content span{
    font-size: clamp(15px, 1.5vw, 28px) !important;
    font-weight: 400;
    color: red;
    text-transform: uppercase;
}

#home .content h3{
    font-size: clamp(20px, 4vw, 40px) !important;
    font-weight: 700;
    padding-top: 10px;
    animation: home 1.5s ease 0s 1 normal forwards;
}

#home .content h1{
    font-size: clamp(30px, 5vw, 50px) !important;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

#home .content button{
    text-transform: uppercase;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .5em 1em;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#home .content button:hover{
    background-color: #E0E0E0;
    color: red;
    border-style: solid ridge;
}

/* About Styling */

#about{
    max-width: 100%;
    height: fit-content;
    /* background: radial-gradient(ellipse at 51% 125%,#ff0000, rgb(0, 0, 0)); */
    background-color: #ffffff;
    /* border: 1px solid red; */
}

#about h3{
    font-size: clamp(18px, 3vw, 35px) !important;
    font-weight: 500;
    padding-top: 40px;
    color: red;
    text-align: center;
    padding-bottom: 20px;
}
#about .row {
    width: 95%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    /* border: 1px solid rgb(238, 129, 45); */
}

#about .row .col-md-6{
    position: relative;
    /* border: 1px solid rgb(238, 206, 45); */
}

#about .col-md-6 img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#about .col-md-6 h2{
    position: absolute;
    top: -13px;
    right: 0;
    color: rgb(255, 136, 0);
    background-color: #000000bb;
    padding: 10px;
    font-size: clamp(15px, 2vw, 35px) !important;
    font-weight: 500;
    box-shadow: 2.5px -2.5px 10px rgb(74, 74, 74);
    backdrop-filter: blur(2px);
}

#about .col-md-6 h1{
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 600;
    color: rgb(7, 10, 63);
}

#about .col-md-6 .first-word {
    color: red;
}

#about .col-md-6 p{
    font-size: clamp(10px, 1.7vw, 28px);
    font-weight: 400;
    color: rgb(7, 10, 63);
    padding-top: 5px;
}

#about .col-md-6 ul{
    list-style-type: decimal-leading-zero;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    text-decoration: none;
}

#about .col-md-6 li{
    width: 100%;
    font-size: clamp(10px, 2.5vw, 35px);
    color: red;
    text-decoration: none;
}

#about .col-md-6 h4{
    font-size: clamp(10px, 2.5vw, 35px);
    font-weight: 500;
    color: rgb(7, 10, 63);
    padding-top: 3px;
    padding-left: 15px;
}

#about .col-md-6 h6{
    font-size: clamp(10px, 1.4vw, 28px);
    font-weight: 400;
    color: rgb(40, 39, 39);
    padding-left: 15px;
}

#about .col-md-6 button{
    text-transform: uppercase;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .5em 1em;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0 0 0;
}

#about .col-md-6 button:hover{
    background-color: #ffffff;
    color: red;
    text-align: center;
    border-style: solid ridge;
}

/* Why Styling */

#why{
  max-width: 100%;
  height: fit-content;
  /* border: 1px solid rgb(246, 255, 0); */
}

#why h3{
    font-size: clamp(18px, 3vw, 35px) !important;
    font-weight: 500;
    color: red;
    text-align: center;
}

#why .row {
    width: 95%;
    min-height: 50vh;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: space-around;
    /* border: 1px solid rgb(4, 255, 0); */

}

:root{
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
  }
  
  #why .row  .card-wrap{
    width: 250px;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin: 4%;
    margin-bottom: 30px;
 }
 #why .row   .card-header:hover{
    transform: scale(1.03);
  }

  #why .row  .card-header{
    height: 200px;
    width: 100% !important;
    background: red;
    border-radius: 100% 0% 100% 0% / 50% 50% 50% 100%;
    display: grid;
    place-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  
  #why .row  .card-header i{
    color: #ffffff;
    font-size: 72px;
  }

  #why .row  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }

  #why .row  .card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(7, 10, 63);
    font-weight: 500;
  }

  #why .row .card-text{
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(40, 39, 39);
  }

  #why .row .card-btn{
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  #why .row .card-btn:hover{
    border: none;
    color: #c6ffff;
  }

  #why .row  .card-header.one{
    margin: 0px !important;
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }

  #why .row  .card-btn.one{
    background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }
  